@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
body {
  background-image: radial-gradient(
    circle,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #fbfbfb,
    #fbfbfb,
    #f8f8f8,
    #f4f4f4,
    #ececec,
    #e4e4e4,
    #dcdcdc,
    #d4d4d4
  );
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}

/* show the content in 80% of device width */

.main-content {
  width: 80%;
  max-width: 1220px;
  margin: 0px auto;
}
.logoImgg {
  border-radius: 4px;
}

/* navigation bar  */

.headDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 18px;
}
.watchnow {
  min-width: 187px;
  padding: 12px 18px;
  border: none;
  color: white;
  background-color: red;
  font-weight: 600;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.watchnow:hover {
  background-color: rgb(230, 1, 1);
  box-shadow: 0 5px 15px rgba(204, 39, 39, 0.4);
}
/* for the whole body below navigation bar  */
.div-body {
  display: flex;
  justify-content: space-between;
}
.midDiv {
  width: 60%;
  min-width: 400px;
}
/* side navigation items align them vertically  */

.sideDiv {
  width: 20%;
  min-width: 120px;
  max-width: 187px;
  height: 630px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.navItemsDiv {
  width: 14%;
  min-width: 120px;
  max-width: 187px;
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid rgb(151, 151, 151);
  margin-left: 2px;
}
.navUl {
  width: 70%;
  min-width: 110px;
}

.navUl li {
  margin-left: 10px;
  padding: 15px 0px 15px 12px;
  border-top: 1px solid rgb(151, 151, 151);
  color: rgb(82, 82, 82);
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}
.navUl li:last-child {
  border-bottom: 1px solid rgb(151, 151, 151);
}
.navUl li:hover {
  color: gray;
}
.activeLi {
  color: rgb(202, 1, 1) !important;
}
/* for home tab  */
.homeDiv {
  display: block;
}
.homeDiv h3 {
  font-size: 26px;
  margin-bottom: 8px;
}
.premier {
  margin-top: 36px;
  font-size: 15px;
  color: rgb(167, 1, 1);
  font-weight: 600;
  cursor: pointer;
}
.premier:hover {
  color: rgb(110, 38, 38);
}
.timer {
  margin-top: 10px;
  font-size: 15px;
  color: rgb(29, 29, 29);
}
.playbtn {
  border-radius: 50%;
  height: 13px;
  width: 13px;
  margin-left: 4px;
  margin-right: 4px;
}
/* for about tab  */
.aboutDiv {
  display: none;
  margin-top: 28px;
}
.aboutDivP {
  line-height: 26px;
  word-spacing: 4px;
  letter-spacing: 1px;
  font-size: 17px;
  margin-bottom: 38px;
}
.abouth3 {
  margin-bottom: 24px;
  font-size: 32px;
  color: rgb(95, 95, 95);
  letter-spacing: 2px;
  margin-top: 26px;
}
/* for the list of cast, show them horizontally  */
.allCast {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.castImg {
  border-radius: 50%;
  padding: 2px;
  border: 2px solid rgb(78, 78, 78);
}
.castName {
  text-align: center;
  margin-top: 12px;
  font-weight: 600;
  color: rgb(39, 39, 39);
}
.castRole {
  margin-top: 3px;
  color: rgb(100, 100, 100);
  text-align: center;
}
/* for the gallery navigation item  */
.galleryDiv {
  display: none;
}

.homeDiv h3,
.homeDiv p {
  text-align: center;
}
.posterDiv {
  padding-top: 18px;
}
.posterImg {
  display: block;
  height: 500px;
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 7px 0px;
}

.galleryContainer {
  margin-top: 26px;
  display: flex;
  justify-content: center;
}

/* Css for carousel */
.carousel-container {
  width: 600px;
  height: 500px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 3px 0px;
  border-radius: 4px;
}
/* carousel image wrapper is inside carousel div  */
.carousel-image-wrapper {
  position: absolute;
  top: 0px;
}
.carousel-image-wrapper img {
  object-fit: cover;
  float: left;
}

.left-button button {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: 5px;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
button img {
  border-radius: 50%;
}
.right-button button {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
}

.img-indicators {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 2px;
}
.circle {
  border-radius: 50%;
  background-color: #a5a5a5;
  height: 16px;
  width: 16px;
  border: none;
  margin-right: 10px;
}
.circle:hover {
  background-color: rgb(189, 189, 189);
}
.bigger-circle {
  background-color: rgb(255, 225, 225);
  height: 20px;
  width: 20px;
}

/* for items on the right side of the page */
.sideDivh5 {
  color: rgb(95, 95, 95);
  letter-spacing: 1.5px;
}
.vidlinks {
  display: flex;
  justify-content: space-between;
}
.vidLinkLogo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.vidLinkItm {
  cursor: pointer;
  margin-top: 25px;
  border-radius: 6px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.2em,
    rgba(90, 125, 188, 0.05) 0px 0.2em 1em;
}

.vidLinkItm p {
  margin-top: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.vidLinkItm img {
  transition: all 0.1s ease-in-out;
}

.vidLinkItm:hover .vidLinkLogo {
  box-shadow: 0 6px 12px rgb(26, 26, 26);
}
.vidLinkItm:hover .vidtxt {
  color: red;
}
.watchTrailer {
  margin-top: 56px;
}
/* for footer items  */
.copyrightDiv {
  display: flex;
  justify-content: center;
}
.copyrighttext {
  margin-top: 20px;
  padding: 16px 180px 0px;
  border-top: 2px solid black;
}
.footerLinks {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.foot {
  margin-top: 24px;
  padding-bottom: 12px;
}
/* for watch now video  */
.overlayClass {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-y: hidden;
  transition: 0.5s;
}
.overlayContent {
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 50px;
}
.overlayClass a {
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlayClass a:hover {
  color: #f1f1f1;
}
.overlayClass .closebtn {
  position: absolute;
  right: 45px;
  font-size: 54px;
}
/* for footer links  */
.fa {
  padding: 6px 3px 3px;
  font-size: 20px !important;
  width: 22px;
  text-align: center;
  text-decoration: none;
  margin: 0px 6px;
  border-radius: 20%;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border-radius: 6px;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 12px 16px;
  background-color: #5cb85c;
  color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px ;
  font-size: 22px;
  text-align: center;
}

.modal-body {
  padding: 30px 16px;
  line-height: 25px;
  font-size: 18px;
  text-align: center;
}
