@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
body {
  background-image: radial-gradient(
    circle,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #fbfbfb,
    #fbfbfb,
    #f8f8f8,
    #f4f4f4,
    #ececec,
    #e4e4e4,
    #dcdcdc,
    #d4d4d4
  );
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
.main-content {
  width: 80%;
  max-width: 1220px;
  margin: 0px auto;
}
.logoImgg {
  border-radius: 4px;
}
.headDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 18px;
}
.watchnow {
  min-width: 187px;
  padding: 12px 18px;
  border: none;
  color: white;
  background-color: red;
  font-weight: 600;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.watchnow:hover {
  background-color: rgb(230, 1, 1);
  box-shadow: 0 5px 15px rgba(204, 39, 39, 0.4);
}
.navItemsDiv {
  width: 14%;
  min-width: 120px;
  max-width: 187px;
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid rgb(151, 151, 151);
  margin-left: 2px;
}
.navUl {
  width: 70%;
  min-width: 110px;
}

.navUl li {
  margin-left: 10px;
  padding: 15px 0px 15px 12px;
  border-top: 1px solid rgb(151, 151, 151);
  color: rgb(82, 82, 82);
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}
.navUl li:last-child {
  border-bottom: 1px solid rgb(151, 151, 151);
}
.navUl li:hover {
  color: gray;
}
.activeLi {
  color: rgb(202, 1, 1) !important;
}
.div-body {
  display: flex;
  justify-content: space-between;
}
.midDiv {
  width: 60%;
  min-width: 400px;
}
.sideDiv {
  width: 20%;
  min-width: 120px;
  max-width: 187px;
  height: 630px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.homeDiv {
  display: block;
}
.homeDiv h3 {
  font-size: 26px;
  margin-bottom: 8px;
}
.premier {
  margin-top: 36px;
  font-size: 15px;
  color: rgb(167, 1, 1);
  font-weight: 600;
  cursor: pointer;
}
.premier:hover {
  color: rgb(110, 38, 38);
}
.timer {
  margin-top: 10px;
  font-size: 15px;
  color: rgb(29, 29, 29);
}
.playbtn {
  border-radius: 50%;
  height: 13px;
  width: 13px;
  margin-left: 4px;
  margin-right: 4px;
}
.aboutDiv {
  display: none;
  margin-top: 28px;
}
.aboutDivP {
  line-height: 26px;
  word-spacing: 4px;
  letter-spacing: 1px;
  font-size: 17px;
  margin-bottom: 38px;
}
.abouth3 {
  margin-bottom: 24px;
  font-size: 32px;
  color: rgb(95, 95, 95);
  letter-spacing: 2px;
  margin-top: 26px;
}
.allCast {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.castImg {
  border-radius: 50%;
  padding: 2px;
  border: 2px solid rgb(78, 78, 78);
}
.castName {
  text-align: center;
  margin-top: 12px;
  font-weight: 600;
  color: rgb(39, 39, 39);
}
.castRole {
  margin-top: 3px;
  color: rgb(100, 100, 100);
  text-align: center;
}
.galleryDiv {
  display: none;
}

.homeDiv h3,
.homeDiv p {
  text-align: center;
}
.posterDiv {
  padding-top: 18px;
}
.posterImg {
  display: block;
  height: 500px;
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 7px 0px;
}
.sideDivh5 {
  color: rgb(95, 95, 95);
  letter-spacing: 1.5px;
}
.vidlinks {
  display: flex;
  justify-content: space-between;
}
.vidLinkLogo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.vidLinkItm {
  cursor: pointer;
  margin-top: 25px;
  border-radius: 6px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.2em,
    rgba(90, 125, 188, 0.05) 0px 0.2em 1em;
}

.vidLinkItm p {
  margin-top: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.vidLinkItm img {
  transition: all 0.1s ease-in-out;
}

.vidLinkItm:hover .vidLinkLogo {
  box-shadow: 0 6px 12px rgb(26, 26, 26);
}
.vidLinkItm:hover .vidtxt {
  color: red;
}
.watchTrailer {
  margin-top: 56px;
}
.copyrightDiv {
  display: flex;
  justify-content: center;
}
.copyrighttext {
  margin-top: 20px;
  padding: 16px 180px 0px;
  border-top: 2px solid black;
}
.footerLinks {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.foot {
  margin-top: 24px;
  padding-bottom: 12px;
}

.overlayClass {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-y: hidden;
  transition: 0.5s;
}
.overlayContent {
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 50px;
}
.overlayClass a {
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlayClass a:hover {
  color: #f1f1f1;
}
.overlayClass .closebtn {
  position: absolute;
  right: 45px;
  font-size: 54px;
}

.fa {
  padding: 6px 3px 3px;
  font-size: 20px !important;
  width: 22px;
  text-align: center;
  text-decoration: none;
  margin: 0px 6px;
  border-radius: 20%;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
